body{
	background:url("https://upload.wikimedia.org/wikipedia/commons/d/d0/Grand_Central_Terminal%2C_New_York_City_%285903663780%29.jpg");
	background-size: 100%;
	color: black;
  }

  * {
	box-sizing: border-box;
  }
  
  .jumbotron{
	background-color: inherit;
	color: black;
	
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif;  
  }
  .ride{
	font-size:40px;
	color:rgb(59, 55, 32);
  }
  
  .panel-body{
	border:2px black;
	background-color: rgb(59, 55, 32);
  }
  .current ,.add{
	background-color:rgb(208, 221, 29);
	color:black;
	font-size:20px;
  }
  #trainTable{
	background-color:gold;
	color:black;
	font-size:20px;
	font: bold;
  }
  #trainNameInput,#destinationInput,#timeInput,#frequencyInput{
	color:black;
	font-size:18px;
	background-color:gold;
  }
  .form-group{
	color: black;
	font-size:20px;
	background-color: rgb(205, 194, 92);
  }
  .btn{
	background-color:rgb(84, 131, 84);
	font-size:20px;
  }