body{
	background:url("https://secure.i.telegraph.co.uk/multimedia/archive/02467/grand-alamy_2467882b.jpg");
  }
  .jumbotron{
	background-color: gold;
	color: rgb(167, 122, 86);
	border:2px rgb(22, 17, 17) solid;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif;  
  }
  .ride{
	font-size:40px;
	color:rgb(59, 55, 32);
  }
  
  .panel-body{
	border:2px black;
  }
  .current ,.add{
	background-color:peachpuff;
	color:black;
	font-size:20px;
  }
  #trainTable{
	background-color:#efffff;
	color:black;
	font-size:20px;
	font: bold;
  }
  #trainNameInput,#destinationInput,#timeInput,#frequencyInput{
	color:black;
	font-size:18px;
	background-color:#efffff;
  }
  .form-group{
	color: black;
	font-size:20px;
  }
  .btn{
	background-color:green;
	font-size:20px;
  }